*{
    margin: 0;
    padding: 0;
}
.Home{
    background: #124076;
    color: aliceblue;
}
.nav{
    text-align: end;
}
p{
    display: inline-block;
    padding: 20px;
}
.nav>p:hover{
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(217deg, violet,pink);
}
.Main{
    background: #124076;
    /* height: 100vh; */
    display: grid;
    grid-template-areas: 'profile1 image1';
    grid-template-columns: 1fr 400px;
} 
.Content{
  padding: 10%;
  text-align: justify;
  color: antiquewhite;
  grid-area: profile1;
}
.Content>h2{
    font-size: 3.5rem;
}
.Content>h5{
    font-size: 2rem;
}
.Content>p{
    font-size: 1.5rem;
}
.Image{
    grid-area: image1;
    display: grid;
    place-content: center;
}
.Image>img{
    width: 190px;
    height: 260px;
    border-radius: 20px;
    
}
/* Educational */
.Education{
    background: #124076;
    /* width: 100vw;
    height: 100vh;  */
    /* box-sizing: border-box; */
    padding: 1px;
}
.educate{
    color: #e0e0e0;
    font-size: 2rem;
    text-align: center;
}
.image>img{
    width: 180px;
    height: 200px;
    border-radius: 30px;
    object-fit: cover;
}
.edu{
    width: 50%;
    background: #e0e0e0;
    border-radius: 30px;
    margin: 2rem auto;
}
.edu>.image,.study{
    display: inline-block;
    margin: 3%;
    vertical-align: middle;
    color: #124076;
}


